.footerStyle {
    content: '';
    position: absolute;
    bottom: 0;
    height: 4rem;
    width: 100%;
    display: inline-block;
    background-color: var(--red);
    display: flex;
    color: white;
    font-size: x-large;
    font-family: sans-serif;
    align-items: center; 
}
